<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MySQL"
			 connectionString="Server=localhost;Database=mdsp;Uid=root;Pwd=1234;CharSet=utf8mb4;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>